{% extends 'base.html' %}

{% block content %}
<div class="page-content">
    <p>Upload a JPEG picture of a cat or a dog</p>

    <form method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Picture</label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <select class="form-select" aria-label="Default select example" name="label">
            <option selected>Cat or Dog</option>
            <option value="cat">Cat</option>
            <option value="dog">Dog</option>
        </select>
        <div class="col-12 mt-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <!-- <img src="static{{ url_for('inflate_images', filename=f) }}" alt=""> -->
    <p>
        {% if p %}
        <p>There is a {{ p }} chance image is {{ label }}</p>
        {% endif %}
    </p>
</div>
{% endblock %}